.Letter_container{
    min-height: 50vh;
    background-image: url('../components/Icons/bg_letter.png');
    background-size: cover;
    position: relative;
}

.apex_img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    animation: hithere 1s ease infinite;
}

.apex_img:hover{
    cursor:pointer;
}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-5deg) scale(1.2); }
  50% { transform: rotate(5deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.apex_img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intro{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #f1f1f1;
}

.sub_intro{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #f1f1f1;
    font-style: italic;
}

.popup_image{
    position: fixed;
    top: 0;
    left:0;
    background-color:rgba(3, 37, 57, .8);
    height: 100vh;
    width: 100%;
    z-index: 100;
    overflow: visible;
}


.image_letter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:1;
    border: 5px solid #f1f1f1;
    z-index: 101;
    width: 850px;
    height: 670px;
    margin: 15px;
    object-fit: fill;
    border-radius: 5px;
}

@media (max-width: 768px){
    .Letter_container {
        background-position: 70%;
    }
    .image_letter{
    width: 100%;
    height: 360px;
    margin: 0 auto;
    }

    .image_letter > img{
        object-position:10% 50%;
    }
  }
